<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/users.css" />
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon-32x32.png"
  />
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/javascript/navbar.js"></script>
    <script defer src="/javascript/arrivial.js"></script>
    <title>Registered users</title>
  </head>
  <body>
    <script>
      var students = <%- JSON.stringify(users) %>
      
    </script>
    <%- include('./partials/nav'); -%>
    <div class="heading"><h1>Faculty <span class="counter"> ( <%=faculty.length%> )</span></h1></div>
    <div class="container">
      <div class="wrapper">
        <% faculty.reverse().forEach(function(user) { %>
          <div id="<%= user.name%>" data-id=<%=user._id%> class="user">
          <h data-name="<%= user.name%>" class="name">Name: <%= user.name%></h>
          <p class="para-container">
            E-mail: <%= user.email ? 'Provided' : 'Not provided'%> <br />
            Age: <%=user.age%><br />
            Gender: <%=user.gender%><br />
            Qualification: <%=user.qualification ? user.qualification : 'Not Provided' %><br />
            Intrest: <%=user.intrest ? user.intrest : 'Not Provided' %><br /> 
          </p>
          <button data-user="faculty" data-arrived=<%=user.arrived %> class="button <%=user.arrived ? 'arrived' : 'not-arrived'  %>"><%=user.arrived ? 'ARRIVED' : 'NOT ARRIVED' %></button>
        </div>
          <% }); %> 
      </div>
    </div>

    <div class="heading"><h1>Participants <span class="counter"> ( <%=users.length%> )</span> </h1>
      <div class="search">
        <input type="text" placeholder="search" id="search" autocomplete="off" name="search" id="">
        <ul class="search-results">
          
        </ul>
      </div></div>

    <div class="container">
      <div class="wrapper">
        <% users.reverse().forEach(function(user) { %>
          <div id="<%= user.name%>" data-id=<%=user._id%> class="user">
          <h data-name="<%= user.name%>" class="name">Name: <%= user.name%></h>
          <p class="para-container">
            E-mail: <%= user.email ? 'Provided' : 'Not provided'%> <br />
            Age: <%=user.age%><br />
            Gender: <%=user.gender%><br />
            Qualification: <%=user.qualification ? user.qualification : 'Not Provided' %><br />
            Intrest: <%=user.intrest ? user.intrest : 'Not Provided' %><br /> 
          </p>
          <button id="btn-<%=user.name %>" data-user="student" data-arrived=<%=user.arrived %> class="button <%=user.arrived ? 'arrived' : 'not-arrived'  %>"><%=user.arrived ? 'ARRIVED' : 'NOT ARRIVED' %></button>
        </div>
          <% }); %> 
      </div>
    </div>
  </body>
</html>
